/**
There is a custom theme for offline-ui.
There you can change background color and styles for the panel.
 */

.offline-ui {
  background: #333;
  opacity: 0.87;
  color: #fff;
  top: auto;
  bottom: 0;
  border-radius: 4px 4px 0 0;
}

/*
  Animation
 */

@keyframes offline-dropin {
  /* line 40, ../sass/_keyframes.sass */
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 0;
  }

  /* line 43, ../sass/_keyframes.sass */
  1% {
    transform: translateY(800px);
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
    opacity: 0;
  }

  /* line 48, ../sass/_keyframes.sass */
  2% {
    transform: translateY(800px);
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
    opacity: 1;
  }

  /* line 51, ../sass/_keyframes.sass */
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}


@keyframes offline-dropout {
  /* line 57, ../sass/_keyframes.sass */
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 59, ../sass/_keyframes.sass */
  100% {
    transform: translateY(800px);
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
  }
}
